{% extends 'base.html' %}
{% block title %} Disquera | Artistas {% endblock %}

{% block contenido %}

    <h1 class='text-center'> Artistas </h1>
    <div class="table-responsive" style="margin:1rem 0.5rem; border-radius:5px;">
        <table class="table">
            <thead class='table-dark'>
                <tr>
                    <th>ID <br> Artista</th>
                    <th>Número <br> Documeto</th>
                    <th>Tipo <br> Documeto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre <br> Artístico</th>
                    <th>Fecha <br> Nacimiento</th>
                    <th>Email</th>
                    <th>Foto</th>
                    <th>Disquera</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbod class=''>

        {% for a in artistas %}
        
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.noDocumento }}</td>
                <td>{{ a.tipoDocumento }}</td>
                <td>{{ a.nombreArtista }}</td>
                <td>{{ a.apellidoArtista }}</td>
                <td>{{ a.nombreArtistico }}</td>
                <td>{{ a.fNacimArtista }}</td>
                <td>{{ a.emailArtista }}</td>
                <td><img src="{{ a.fotoArtista.url }}" width="100px" heith="100px"></td>
                <td>{{ a.idDisqueraFK.nombreDisquera}}</td>
                <td>{{ a.estadoArtista }}</td>
                <td>
                    <a href="{% url 'artista-add' %}" class="btn btn-primary" style="margin-bottom:0.3rem; padding:0.4rem 1.4rem"><i class="bi bi-plus-circle"> Resgistrar Artista</i></a> <br>
                    <a href='{% url 'artista-edit' %}' class='btn btn-warning'><i class="bi bi-pencil">Editar</i></a>
                    <a href='' class='btn btn-danger'><i class="bi bi-trash">Eliminar</i></a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock contenido %}