<h1 class='text-center'> Artistas </h1>
    <div class="table-responsive" style="margin:1rem 0.5rem; border-radius:5px;">
        <table class="table">
            <thead class='table-dark'>
                <tr>
                    <th>ID <br> Artista</th>
                    <th>Número <br> Documeto</th>
                    <th>Tipo <br> Documeto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre <br> Artístico</th>
                    <th>Fecha <br> Nacimiento</th>
                    <th>Email</th>
                    <th>Foto</th>
                    <th>Estado</th> 
                </tr>
            </thead>

            <tbod class=''>
                <td>ID <br> Artista</td>
                <td>Número <br> Documeto</td>
                <td>Tipo <br> Documeto</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Nombre <br> Artístico</td>
                <td>Fecha <br> Nacimiento</td>
                <td>Email</td>
                <td>Foto</td>
                <td>Estado</td>
            </tbody>
        </table>

    </div>