<form enctype="multipart/form-data" methond="post">

    <div class="mb-3">
        <label for="nombreGenero" class="form-label">Nombre Género</label>
        <input type="text" class="form-control" id="nombreGenero">
    </div>    
    <div class="mb-3">
        <label for="estadoGenero" class="form-label">Estado Género</label>
        <input type="number" class="form-control" id="estadoGenero">
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
    </div>

</form>