{% extends 'base.html' %}
{% block title %} Disqueras | Géneros {% endblock  %}

{% block contenido %}

<h1 class='text-center'> Géneros </h1>

<div class="table-responsive" style="margin:1rem 10rem; border-radius:5px;">
    <table class="table">
        <thead class='table-dark'>
            <tr>
                <th>ID <br> Género</th>
                <th>Nombre <br> Género</th>
                <th>Estado <br> Género</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbod class=''>
            <td>ID <br> Género</td>
            <td>Nombre <br> Género</td>
            <td>Estado <br> Género</td>
            <td>
                <a href="{% url 'genero-add' %}" class="btn btn-primary" style="margin-bottom:0.3rem; padding:0.4rem 1.3rem;"><i class="bi bi-plus-circle"> Resgistrar Género</i></a> <br>
                <a href='{% url 'genero-edit' %}' class='btn btn-warning'><i class="bi bi-pencil">Editar</i></a>
                <a href='' class='btn btn-danger'><i class="bi bi-trash">Eliminar</i></a>
            </td>
        </tbody>
    </table>

</div>

{% endblock  %}