<h1 class='text-center'> Géneros </h1>

<div class="table-responsive" style="margin:1rem 10rem; border-radius:5px;">
    <table class="table">
        <thead class='table-dark'>
            <tr>
                <th>ID <br> Género</th>
                <th>Nombre <br> Género</th>
                <th>Estado <br> Género</th>
            </tr>
        </thead>

        <tbod class=''>
            <td>ID <br> Género</td>
            <td>Nombre <br> Género</td>
            <td>Estado <br> Género</td>
        </tbody>
    </table>

</div>