<form enctype="multipart/form-data" methond="post">

    <div class="mb-3">
        <label for="nombreCancion" class="form-label">Nombre Canción</label>
        <input type="text" class="form-control" id="nombreCancion">
    </div>
    <div class="mb-3">
        <label for="duraccionCancion" class="form-label">Duracción Canción</label>
        <input type="text" class="form-control" id="duraccionCancion">
    </div>
    <div class="mb-3">
        <label for="estadoCancion" class="form-label">Estado Canción</label>
        <input type="text" class="form-control" id="estadoCancion">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Álbum</label>
        <input type="number" class="form-control" id="">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="submit" class="btn btn-primary">Cancelar</button>
    </div>

</form>