<h1 class='text-center'> Canciones </h1>
<div class="table-responsive" style="margin:1rem 5rem; border-radius:5px;">
    <table class="table">
        <thead class='table-dark'>
            <tr>
                <th>ID <br> Canción</th>
                <th>Nombre <br> Canción</th>
                <th>Duracción <br> Canción</th>
                <th>Estado <br> Cancción</th>
                <th>Álbum</th>
            </tr>
        </thead>

        <tbod class=''>
            <td>ID <br> Canción</td>
            <td>Nombre <br> Canción</td>
            <td>Duracción <br> Canción</td>
            <td>Estado <br> Cancción</td>
            <td>Álbum</td>
        </tbody>
    </table>

</div>