<form enctype="multipart/form-data" methond="post">

    <div class="mb-3">
        <label for="nombreAlbum" class="form-label">Nombre Álbum</label>
        <input type="text" class="form-control" id="nombreAlbum">
    </div>
    <div class="mb-3">
        <label for="anioPublicacion" class="form-label">Año Publicación</label>
        <input type="text" class="form-control" id="anioPublicacion">
    </div>
    <div class="mb-3">
        <label for="fotoAlbum" class="form-label">Foto Álbum</label>
        <input type="text" class="form-control" id="fotoAlbum">
    </div>
    <div class="mb-3">
        <label for="estadoAlbum" class="form-label">Estado Álbum</label>
        <input type="text" class="form-control" id="estadoAlbum">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Artista</label>
        <input type="text" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Género</label>
        <input type="text" class="form-control" id="">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="submit" class="btn btn-primary">Cancelar</button>
    </div>

</form>