<h1 class='text-center'> Álbumes </h1>
    <div class="table-responsive" style="margin:1rem 0.5rem; border-radius:5px;">
        <table class="table">
            <thead class='table-dark'>
                <tr>
                    <th>ID <br> Álbum</th>
                    <th>Nombre <br> Álbum</th>
                    <th>Año <br> Publicación</th>
                    <th>Foto <br> Álbum</th>
                    <th>Estado <br> Álbum</th>
                    <th>Artista</th>
                    <th>Género</th>
                </tr>
            </thead>

            <tbod class=''>
                <td>ID <br> Álbum</td>
                <td>Nombre <br> Álbum</td>
                <td>Año <br> Publicación</td>
                <td>Foto <br> Álbum</td>
                <td>Estado <br> Álbum</td>
                <td>Artista</td>
                <td>Género</td>
            </tbody>
        </table>

    </div>