<form enctype="multipart/form-data" methond="post">

    <div class="mb-3">
        <label for="nitDisquera" class="form-label">Nit Disquera</label>
        <input type="number" class="form-control" id="nitDisquera">
    </div>
    <div class="mb-3">
        <label for="nombreDisquera" class="form-label">Nombre Disquera</label>
        <input type="text" class="form-control" id="nombreDisquera">
    </div>    
    <div class="mb-3">
        <label for="telefonoDisquera" class="form-label">Teléfono Disquera</label>
        <input type="number" class="form-control" id="telefonoDisquera">
    </div>
    <div class="mb-3">
        <label for="direccionDisquera" class="form-label">Dirección Disquera</label>
        <input type="number" class="form-control" id="direccionDisquera">
    </div>
    <div class="mb-3">
        <label for="estadoDisquera" class="form-label">Estado Disquera</label>
        <input type="number" class="form-control" id="estadoDisquera">
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
    </div>

</form>