<h1 class='text-center'> Disqueras </h1>
<div class="mb-2">
    
</div>
<div class="table-responsive" style="margin: 1rem 0.5rem; border-radius:5px;">
    <table class="table">
        <thead class='table-dark'>
            <tr>
                <th>ID <br> Disquera</th>
                <th>Nit <br> Disquera</th>
                <th>Nombre <br> Disquera</th>
                <th>Teléfono <br> Disquera</th>
                <th>Dirección <br> Disquera</th>
                <th>Estado <br> Disquera</th>
            </tr>
        </thead>

        <tbod class=''>
            <td>ID</td>
            <td>Nit <br> Disquera</td>
            <td>Nombre <br> Disquera</td>
            <td>Teléfono <br> Disquera</td>
            <td>Dirección <br> Disquera</td>
            <td>Estado <br> Disquera</td>
        </tbody>
    </table>

</div>